/* Home */
.titleBox>h3{
  font-size: 30px;
  animation: fadeIn;
  animation-duration: 4s; 
}
.maskTxt{
font-size: 30px;
animation: fadeIn;
animation-duration: 4s;
white-space: nowrap;
}

.maskText{
background-position: 0;
background-image: linear-gradient(to right, #555555 0, white 10%, #555555 20%);
background-clip: text;
color: rgba(0,0,0,0);
animation: shine 3s infinite linear;
animation-fill-mode: forwards;
white-space: nowrap;
}

.maskText>.mask{
  font-size: 70px;
  font-weight: bold;
/* 
background-clip: text;
color: rgba(0,0,0,0); */
}

@keyframes shine{
  0%{
    background-position: 0
  }
  50%{
    background-position: 180px
  }
  70%{
    background-position: 300px
  }
  100%{
    background-position: 550px
  }
}
