.todoWrap{
    width:500px;
    background: rgb(33, 192, 179);
    margin: 50px auto;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    padding: 20px 30px 50px;
}
.title{
    text-align: center;
    color: #fff;
    padding: 10px 0;
}